#contact_modal {
    display: none;
    position: fixed;
    top: 50px;
    left: 33%;
    width: 500px;
    animation-name: modalopen;
    animation-duration: 1s;
}

#photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0px 100px;
}

.photograph-picture {
    border: 0px solid ;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow:  lightgrey 0px 0px 10px 2px;
    object-fit: cover;
}

.photograph-picture:hover, .photograph-picture:focus {
    outline: 2px solid black;
}
.photograph-name {
    font-size: 45px;
    margin: 20px 0px;
    color: #D3573C;
    font-weight: lighter;
    text-decoration: none;
}

#photograph-location {
    margin: 5px;
    color: #901C1C;
}

.photograph-text {
    margin: 5px 0px;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 10px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    margin: 20px 0 0 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: #DB8876;
    color: black;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover, .contact-button:focus {
    background-color: #e23d18;
    color: black;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    top: 25px;
    left: 50%;
    z-index: 99;
}

.modal-header {
    width: 100%;
    font-size: 30px;
}


.modal header img {
    cursor: pointer;
    margin-left: 450px;
}

.modal header img:hover, .modal header img:focus {
    outline: thin dotted;
}
/*.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    background-color: aqua;
}*/

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#photographer-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact-photographer {
    display: inline-block; 
    width: 80%; 
    font-size: 2.8rem;
    margin-top: -6rem;
    line-height: 10%;
}
.image-wrapper {
    margin-top: 25px;
    max-width: 350px;
    margin-right: 15px;
}

.photos {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.videos {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}

.description-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description {
    font-size: 20px;
    color: #901C1C;
    margin: 0px;
    cursor: pointer;
}

.photographer-like {
    font-weight: bold;
    color: #901C1C;
}

.like {
    color: #D3573C;
    font-size: 25px;
}

#box {
    display: flex;
    align-items: center;
    background-color: #DB8876;
    height: 50px;
    width: 200px;
    position: fixed;
    bottom: -20px;
    right: 370px;
    border-radius: 5px;
}

#box .fas {
    margin-left: 5px;
}

/*#like-wrapper span {
    font-size: 25px;
}*/

#total-like {
    margin-left: 10px;
    font-weight: bold;
}

#daily-price {
    position: absolute;
    right: 10px;
    font-weight: bold;
}

@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px)
    }
    to {
        opacity: 1;
    }
}

#lightbox-works {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: white;
    opacity: 1;
    display: flex;
    display: none;
    z-index: 2;
}

#previous {
    color: #901C1C;
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 2%;
    z-index: 2;
    cursor: pointer;
}

#next {
    color: #901C1C;
    font-size: 40px;
    position: fixed;
    top: 50%;
    right: 2%;
    z-index: 2;
    cursor: pointer;
}

#close {
    color: #901C1C;
    font-size: 30px;
    position: fixed;
    top: 5%;
    right: 2%;
    z-index: 2;
    cursor: pointer;
}

#lightbox-description {
    font-size: 25px;
    font-weight: bold;
    color: #901C1C;
    position: fixed;
    bottom: 1%;
    left: 10%;
}

#lightbox-image {
    margin: auto;
    object-fit: cover;
    height: 87%;
    width: 80%;
    position: fixed;
    top: 5%;
    left: 10%;
    right: 10%;
    z-index: 99;
    box-shadow: 6px -2px 0px 1px lightgrey;
}

#lightbox-video {
    margin: auto;
    position: fixed;
    top: 5%;
    left: 10%;
    right: 10%;
    z-index: 99;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 125px;
    padding: 16px 16px 16px 0px;
    border-radius: 5px;
    cursor: pointer;
    border-top: white 1px solid;
    border-radius: 0px 0px 5px 5px;
}

#dropdown-wrapper button {
    background-color: #901C1C;
    color: white;
    padding: 15px;
    padding-right: 45px;
    font-size: 16px;
    border: 1px solid #901C1C;
    cursor: pointer;
    min-width: 140px;
    text-align: left;
    border-top: solid white 1px;
}

.dropbtn {
    background-color: #901C1C;
    color: white;
    padding: 15px;
    padding-right: 45px;
    font-size: 16px;
    border: 1px solid #901C1C;
    border-radius: 5px;
    cursor: pointer;
    min-width: 140px;
}

#dropdown-text {
    margin-right: 15px;
}

#dropdown-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: -3px;
    background-color: #901C1C;
    border-radius: 0px 0px 5px 5px;
    width: 140px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: white;
    border-top: 1px solid white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 0px 0px 5px 5px;
}

.dropdown-content button.background:hover {filter: brightness(50%);}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #901C1C;
}

.arrow-up {
    display: none;
    position: absolute;
    color: white;
    right: 15px;
    bottom: 35px;
    z-index: -1;
}

.arrow-down {
    position: absolute;
    color: white;
    right: 15px;
    bottom: 35px;
    z-index: 1;
}
.dropdown:hover .arrow-down {
    display: none;
}

.dropdown:hover .arrow-up {
    display: block;
    z-index: 1;
}

#populaire {
    display: block;
}

#titre {
    display: none;
}

#date {
    display: none;
}

.background {
    height: 600px;
    background-color: #DB8876;
    padding: 25px;
    width: 600px;
    border-radius: 5px;
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    display: none;
}

#message {
    height: 150px;
}

